.hb1{
	border-bottom: 1px solid black;
}
.bg-line{
	background: linear-gradient(#000, #000) no-repeat center/0.05em 100%;
	background-position: left 7em top;
}
.vid-style{
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}
.log-style{
	padding-left: 0.5em;
}
.name-style{
	margin-left: 12em;
}
.whatsapp-style{
	margin-left: 11.5em;
}
.r2{
	margin-top: 20px;
	padding-bottom: 12px;
}
.cw{
	padding-top: 20px;
	font-size: 1em;
}
.wnum{
	padding-left: 5px;
	font-family: 'Roboto';
}
.footer{
	border-top: 1px solid black;
	padding-top: 10px;
}