.hb1{
	border-bottom: 1px solid black;
}
.bg-line{
	background: linear-gradient(#000, #000) no-repeat center/1px 100%;
	background-position: left 10% top;
}
.vid-style{
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}
.log-style{
	padding-left: 20px;
}
.name-style{
	margin-left: 20%;
}
.r2{
	margin-top: 20px;
	padding-bottom: 12px;
}
.cw{
	padding-top: 20px;
}
.wnum{
	padding-left: 5px;
	font-family: 'Roboto';
	font-size: 16px;
}
.footer{
	border-top: 1px solid black;
	padding-top: 10px;
}